body{
  margin:0;
  height: 100%;
  min-height: 100%;
  
  
}

.compWrapper{  
  display: flex;
  flex-direction: column;
}

.compHeader{
  float: none;
}

.compMain{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex: auto;
}
.compFooter{
  flex: none;
}


.wrapper{

  text-align: center;

  background: whitesmoke;
  /* background: #757575; */
  /* background: radial-gradient(ellipse at bottom, #757575 39%, #3ac569  0%); */
  padding: 10px;
  /* border-bottom: 1px solid black; */
  box-shadow: 5px 10px;
  /* display:flex; */

}

.headerInfo{
  /* position: absolute; */
  bottom: 0;
  
  /* margin-left:170px; */

}

.headerIconShipment{
  text-align:center;
  background: lightcyan;
  /* border-bottom: 1px solid gray; */
  /* margin-left:600px; */
  /* text-align: center;
  display: flex; */
}


/* .headerIconDelivery{
  /* margin-left:110px; */
  
/* } */ 

.divider {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}


.profileImage {
  text-align: center;
  z-index: 1000;
  width: 200px;
  height: 200px;
  border: 2px solid #3ac569;
  border-radius: 50%;
  top: 40px;
  left: 30px;
}


.AllButtons{
  /* color:#757575 !important; */
}
.AllButtons:hover{
  background-color: #757575 !important;

}

